.gradle/
build/
eclipse/asm
eclipse/config
eclipse/GOT
eclipse/logs
eclipse/mods
eclipse/musicpacks
eclipse/resourcepacks
eclipse/saves
eclipse/usernamecache.json
out/
server/world
server/logs
server/mods
server/*.json
server/**/*.cfg