.gradle/
build/
workspace/asm
workspace/config
workspace/GOT
workspace/logs
workspace/mods
workspace/musicpacks
workspace/resourcepacks
workspace/saves
workspace/usernamecache.json
out/
server/world
server/logs
server/mods
server/*.json
server/**/*.cfg